<div id='st-input' name='homepage' class='page-area'>	
	<div id='st-workflow'>	
		<div id='st-workflow-1'>
			<table>
				<thead>
					<tr>
						<td>功能名稱</td>
						<td>預設首頁</td>
						<td>儲存設定</td>
						<td>頁面列表</td>
						<td>更改設定</td>
					</tr>
				</thead>
				<tbody id='homepage-table'>
				<!--
					<tr>
						<td><span>Setting</span></td>
						<td><span id='setting-homepage' class='autofill'></span></td>
						<td><button name='setting-homepage' class='save-btn'>Save</button></td>
						<td><select name='setting' class='page-dropmenu'></select></td>	
						<td><button class='change-btn'>更改</button></td>
					</tr>
					<tr>
						<td><span>Test</span></td>
						<td><span id='test-homepage' class='autofill'></span></td>
						<td><button name='test-homepage' class='save-btn'>Save</button></td>
						<td><select name='test' class='page-dropmenu'></select></td>	
						<td><button class='change-btn'>更改</button></td>
					</tr>-->
				</tbody>
			</table>
		</div>
	</div>
	<div id='st-toolbar'>
		<p id='setting-btn'>Test buston</p>
	</div>
</div>
